{
  "extends": [
    "stylelint-config-standard",
    "stylelint-scss",
  ],
  "rules": {
    "selector-pseudo-class-no-unknown": [ true, {
      "ignorePseudoClasses": [
        "export",
        "import",
        "global",
        "local"
      ]
    }]
  }
}
