/* 

$base0:     #839496;
$base1:     #93a1a1;
$base2:     #dddddd; #dddddd
$base3:     #ffffff; #ffffff

 */

/* UI */

body, html, #wrap, textarea, input{background:#ffffff; color:#000000;}
.tool, .ui-resizable-n{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: -moz-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	border-top:solid 1px #ffffff; border-bottom:solid 1px #93a1a1;
}
.ui-resizable-n{border-top:solid 1px #93a1a1; }
.tool-bottom{border-top:solid 1px #93a1a1; border-bottom:solid 1px #93a1a1}
.cli{ border-top:solid 1px #dddddd;} 

/* commands and data types */



.object .header:hover { background:#dddddd; }

.nodots .object{ border-color:transparent; }
.nodots .object .header:hover{ background:none;}

/* toolbar buttons */

.tool b{text-shadow:0px 1px 0px #ffffff; border-right:solid 1px #93a1a1;  -webkit-box-shadow: 1px 0px 0px #ffffff; -moz-box-shadow: 1px 0px 0px #ffffff; box-shadow: 1px 0px 0px #ffffff; }
.tool b:active, .tool b:focus{ background:#93a1a1; }
.tool b.r{border-left:solid 1px #93a1a1; -webkit-box-shadow: -1px 0px 0px #ffffff; -moz-box-shadow: -1px 0px 0px #ffffff; box-shadow: -1px 0px 0px #ffffff; border-right:none;}
.tool b.sel{color:#268bd2;}
.tool b, .tool b >a{color:#839496;}

/* toolbar text controls */
.tool > a{color:#839496; text-shadow:0px 1px 0px #ffffff; border-bottom:solid 1px transparent;}
.tool > a:hover, .tool > a.sel, .tool > a:active, .tool > a:focus{
	color:#ffffff; text-shadow:0px 1px 0px #93a1a1; background:#839496; border-bottom-color:#ffffff;
}
.tool > a:hover{ background:#93a1a1; }
.tool > a:active, .tool > a:focus{ background:#93a1a1; }
.tool > a.nosel, .tool > a.nosel:hover,.tool > a.nosel:active,.tool > a.nosel:focus{ background:none !important; border-color:transparent !important; color:#93a1a1; text-shadow:none; }

/* suggestions */
.suggestions{background:#ffffff; border:solid 1px #93a1a1; }
.suggestions li.sel, .suggestions li:hover{background:#dddddd; border-color:dddddd; }

/* those are invisible */
.poslin{ background:#c00}
#sugpos{ background:#cfc; } 

