body, html{ background:#333; }
.tool, .ui-resizable-n{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#333));
	background: -webkit-linear-gradient(top,  #555 0%,#333 100%);
	background: -o-linear-gradient(top,  #555 0%,#333 100%);
	background: -moz-linear-gradient(top,  #555 0%,#333 100%);
	background: linear-gradient(top,  #555 0%,#333 100%);
	border-top:solid 1px #888; border-bottom:solid 1px #666;
}

#wrap{ background:#222;}
html, body, .jstree a, #command, .tool b a, .tool > a.nosel, .tool > a.nosel:hover{ color:#aaa !important; }
::selection{ background:#444; }

.jstree-classic{ background:none !important;}
.jstree-classic .jstree-hovered, .suggestions li.sel, .suggestions li:hover{ background:#444 !important; border-color:#444 !important;}

.cli { border-top:solid 1px #444; }

.tool b{ border-right-color:#000; box-shadow: 1px 0px 0px #666; }
.tool b.r{ border-left-color:#000; box-shadow: -1px 0px 0px #666; }

.tool b {text-shadow:none !important;}
.tool b{ text-shadow:0 -1px 0px #000 !important;}
.tool b:active, .tool b:focus{ background:#222;}

.tool > a{ color:#888; margin:3px 5px; padding:3px 8px 5px 8px; text-shadow:0px 1px 0px #fff; border-top:solid 1px transparent; border-bottom:none !important;}
.tool > a:hover, .tool > a.sel, .tool > a:active, .tool > a:focus{ color:#fff; text-shadow:0px 1px 0px #000; background:#777; border-top-color:#000;}
.tool > a:active, .tool > a:focus{ background:#555 !important; }
.tool > a:hover{ background:#666; }

.tool > a{ text-shadow:0 -1px 0 #000 !important;}


.nodots .jstree-hovered{ background:none !important; }
.nodots .jstree-hovered{ border-color:transparent !important;}

.suggestions{ background:#111; border-color:#555;}