html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}
.clearfix:after, .cf:after { content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0 }
.clearfix, .cf { display:inline-block }
html[xmlns] .clearfix, html[xmlns] .cf { display:block }
* html .clearfix, * html .cf { height:1% }


body, html{ margin:0px; padding:0px; height:100%; width:100%; overflow:hidden; }

.tool, .ui-resizable-n{ position:relative; height:28px; }
.tool-bottom{ position:absolute; bottom:0px; width:100%; }
.tool{ z-index:5; overflow:hidden;}
.ui-resizable-handle{ z-index:4 !important;}

html *{ font-family:"Lucida Console", Monaco, monospace; font-size:11px;}

#wrap{ width:100%; position:absolute; top:30px; bottom:30px; }
#logo{ display:block; margin:1px auto; }

#formwrap{ position:absolute; bottom:0px !important; width:100% !important; height:30%; top:auto !important; opacity:1 !important;} 
#formwrap.h{ visibility:hidden !important; }
#inp_form{ position:relative; padding:10px 5px; height:90%}
#command, .sugpos{ bottom:0px; display:block; height:100%; width:90%; resize:none; border:none; outline:none; margin-left:15px; position:relative; background:none; z-index:3;}
#commandhint{ position:absolute; position:absolute; left:20px; top:10px;}

#output_wrappr{ position:absolute; left:0px; right:0px; top:0px; height:70%; overflow:auto;}
#output_viewer{ position:absolute; min-width:100%; /* overflow:auto; max-height:100%; bottom:0px;  */  }
#cursor{  font-size:10px; position:absolute; left:8px; top:8px; font-family:"symb","Lucida Sans Unicode", "Lucida Grande", sans-serif}

.output, .cli { display:block; padding:5px;  }

span.fn{ display:inline-block; width:180px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

.jstree ins{ position:relative; top:-3px; height:14px !important;}
.jstree a{ min-width:90%;}
.jstree-icon{ position:relative; top:1px;}
.ui-resizable-n{ height:3px;position:absolute; top:0px;left:0px; width:100%; cursor:n-resize}
.ui-resizable-n:active, .ui-resizable-n:focus{ cursor:row-resize !important;}

.tool b, .tool b *, .eicon{font-family:"symb","Lucida Sans Unicode", "Lucida Grande", sans-serif; text-decoration:none; }
.tool b {float:left; display:block; line-height:30px; height:30px; width:30px; font-weight:normal; font-size:16px; text-align:center; cursor:pointer;} 

.tool b.r{ float:right;  }
.tool b small{ font-size:12px; }
.tool b a{ font-size:15px; }

.tool > a{ float:left; display:block; font-family:Tahoma, Geneva, sans-serif; font-weight:bold; font-size:11px; cursor:pointer; margin:4px 5px; padding:4px 8px; }
.tool > a.r{ float:right;}
.tool > a.nosel, .tool > a.nosel:hover,.tool > a.nosel:active,.tool > a.nosel:focus{ cursor:default !important; }
.tool > a.nosel .eicon{ font-size:10px; font-weight:normal !important; padding-right:3px; vertical-align:top;}
.tool > a .msg{ font-family:Tahoma, Geneva, sans-serif;}

.tool > b{ position:relative;}
.tool > b > a{ position:absolute; display:block; top:0px; left:0px; right:0px; bottom:0px; }

.eicon{ font-size:10px; }
.jstree-closed, .jstree-open, .jstree-closed *, .jstree-open *{ cursor:default;}

.rc10, .tool a, .tool a.nosel .eicon{ -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px }
.suggestions, .rc4{-moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; border-radius:4px }

.suggestions{ position:absolute; display:block; max-height:100%; overflow:hidden; padding:0 5px; min-width:200px; margin:-5px 0 -1px 10px;  z-index:1001;}
.suggestions ul{ padding:4px 0px; position:relative; }
.suggestions li{ border:solid 1px transparent}
.suggestions li.sel, .suggestions li:hover{ cursor:pointer;}

.sugpos{ position:relative; top:-100%; z-index:2; white-space:pre; visibility:hidden;}
.poslin{ position:relative; display:inline-block; width:4px; height:4px; vertical-align:top; }
.nobrk{ white-space:nowrap;}
.object{ padding-left:8px; position:relative; margin-left:4px;}
.object .arrow-right{ position:absolute; left:-4px; cursor:default;}
.object .header{ cursor:default;}


/* colors */

#cursor, .cli{color:#268bd2;} /* the original command that was sent */

.error{ color:#dc322f; }
.warn, .warning{ color:#b58900; }
#output_viewer .eicon{ text-shadow:0px 1px 0px #333; }

.undef, .null{ color:#888; }
.str{ color:#cb4b16;}
.fn{  } /* member name in object expansion */
.boolean, .number{ color:#2aa198;}

#commandhint{ color:#888; }
.object{border-left:dotted 1px #888; }
