<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.defaultTitle %></title>

  <% if (htmlWebpackPlugin.options.favicon) { %>
  <link rel="icon" type="image/vnd.microsoft.icon" href="<%= htmlWebpackPlugin.files.favicon %>" />
  <link rel="shortcut icon" type="image/x-icon" href="<%= htmlWebpackPlugin.files.favicon %>" />
  <% } %>

  <% for(var i=0; i < htmlWebpackPlugin.files.css.length; i++ ) { %>
  <link rel="stylesheet" type="text/css" media="all" href="<%= htmlWebpackPlugin.files.css[i] %>" />
  <% } %>

  <% for (var i=0; i < htmlWebpackPlugin.files.js.length; i++ ) { %>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
  <% } %>
</head>
<body>
  <div class="tool">
    <a class="nosel">nodejs&trade; console</a>

    <b class="r"><a target="_blank" title="nodejs on twitter" href="http://www.twitter.com/nodejs">t</a></b>
    <b class="r"><a target="_blank" title="nodejs manual" href="http://yand.info/"><small>H</small></a></b>

    <a class="r nosel">&nbsp;</a>
    <a class="r t_dark_ui">Dark</a>
    <a class="r t_light_ui">Light</a>
    <a class="r nosel">&nbsp;</a>

    <a class="r iScroll" title="Dragging will scroll">Panning</a>
  </div>

  <div id="wrap">
    <div id="output_wrappr">
      <div id="output_viewer"></div>
    </div>
    <div id="formwrap">
      <form method="post" action="/" id="inp_form">
        <span id="commandhint">Don't know what to do? Type `global` and hit Enter.</span>
        <textarea name="command" id="command"></textarea>
        <div class="sugpos"></div>
        <span id="cursor">&gt;</span>
      </form>
    </div>
  </div>

  <div class="tool tool-bottom">
    <b class="show-write-area" title="Show / hide console input">_</b>
    <b class="clear-console" title="Clear all messages">&times;</b>
    <b class="autoexpand" title="Expand object roots automatically"><small>&sup3;</small></b>
    <b class="dotstruct" title="Highlight hovered object members"><small>p</small></b>
    <b class="preserve" title="Preserve input when sending commands">w</b>

    <a class="nosel constat"> <span class="eicon">W</span> <span class="msg">Disconnected</span></a>

    <b class="r new-window" title="Duplicate current console window"><small>D</small></b>
    <b class="r reload" title="Refresh console window">V</b>

    <a class="r collapse-all " title="Collapse all objects' properties">Collapse all</a>
    <a class="r expand-all" title="Expand all objects' properties">Expand all</a>
  </div>

</body>
</html>
