<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.defaultTitle %></title>

  <% if (htmlWebpackPlugin.options.favicon) { %>
  <link rel="icon" type="image/vnd.microsoft.icon" href="<%= htmlWebpackPlugin.files.favicon %>" />
  <link rel="shortcut icon" type="image/x-icon" href="<%= htmlWebpackPlugin.files.favicon %>" />
  <% } %>

  <% for(var i=0; i < htmlWebpackPlugin.files.css.length; i++ ) { %>
  <link rel="stylesheet" type="text/css" media="all" href="<%= htmlWebpackPlugin.files.css[i] %>" />
  <% } %>

  <% for (var i=0; i < htmlWebpackPlugin.files.js.length; i++ ) { %>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
  <% } %>
</head>
<body>

</body>
</html>
