/* 

$base00:    #999999;
$base01:    #666666; // #666666
$base02:    #4a4a4a; // #4a4a4a
$base03:    #252525; // #111333

 */

/* UI */

body, html, #wrap, textarea, input{background:#252525; color:#ffffff;}
.tool, .ui-resizable-n{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4a4a), color-stop(100%,#252525));
	background: -webkit-linear-gradient(top,  #4a4a4a 0%,#252525 100%);
	background: -o-linear-gradient(top,  #4a4a4a 0%,#252525 100%);
	background: -moz-linear-gradient(top,  #4a4a4a 0%,#252525 100%);
	background: linear-gradient(top,  #4a4a4a 0%,#252525 100%);
	border-top:solid 1px #252525; border-bottom:solid 1px #666666;
}
.ui-resizable-n{border-top:solid 1px #666666; }
.tool-bottom{border-top:solid 1px #666666; border-bottom:solid 1px #666666}
.cli{ border-top:solid 1px #4a4a4a;} 

/* commands and data types */



.object .header:hover { background:#4a4a4a; }

.nodots .object{ border-color:transparent; }
.nodots .object .header:hover{ background:none;}

/* toolbar buttons */

.tool b{text-shadow:none; text-shadow:0px -1px 0px #252525 !important; border-right:solid 1px #666666;  -webkit-box-shadow: 1px 0px 0px #252525; -moz-box-shadow: 1px 0px 0px #252525; box-shadow: 1px 0px 0px #252525; }
.tool b:active, .tool b:focus{ background:#666666; }
.tool b.r{border-left:solid 1px #666666; -webkit-box-shadow: -1px 0px 0px #252525; -moz-box-shadow: -1px 0px 0px #252525; box-shadow: -1px 0px 0px #252525; border-right:none;}
.tool b.sel{color:#268bd2;}
.tool b, .tool b >a{color:#999999;}

/* toolbar text controls */
.tool > a{color:#999999; text-shadow:none; text-shadow:0px -1px 0px #252525; border-bottom:none !important; border-top:solid 1px transparent; top:-2px; position:relative;}
.tool > a:hover, .tool > a.sel, .tool > a:active, .tool > a:focus{
	color:#252525; text-shadow:0px 1px 0px #666666; background:#666666; border-top-color:#252525;
}
.tool > a:hover{ background:#666666; }
.tool > a:active, .tool > a:focus{ background:#666666; }
.tool > a.nosel, .tool > a.nosel:hover,.tool > a.nosel:active,.tool > a.nosel:focus{ background:none !important; border-color:transparent !important; color:#999999; text-shadow:none; }

/* suggestions */
.suggestions{background:#252525; border:solid 1px #666666;}
.suggestions li.sel, .suggestions li:hover{background:#4a4a4a; border-color:4a4a4a; }

/* those are invisible */
.poslin{ background:#c00}
#sugpos{ background:#cfc; } 

